@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

/*
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/
.hidden {
    display: none;
}
/* Basic */

	body {
		background: #222222;
	}

		body.loading * {
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	body, input, select, textarea {
		color: #555555;
		font-family: "Trebuchet MS", Helvetica, sans-serif; 

		font-size: 12pt;
		font-weight: 300;
		line-height: 1.65em;
	}

	a {
		color: #599636;
		text-decoration: underline;
	}

	strong, b {
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p, ul, ol, dl, table, blockquote {
		margin: 0 0 2em 0;
	}

	p {
		line-height: 1.8em;
	}

		p.medium {
			font-size: 1.4em;
		}

	h1, h2, h3, h4, h5, h6 {
		color: inherit;
		font-weight: 700;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border-top: solid 1px #669900;
		border: 0;
		margin-bottom: 1.5em;
	}

	blockquote {
		border-left: solid 0.5em #669900;
		font-style: italic;
		padding: 1em 0 1em 2em;
	}

	section.special, article.special {
		text-align: center;
	}

	header.major {
		padding-bottom: 3em;
		text-align: center;
		text-transform: none;
	}

		header.major h2 {
			font-size: 2.6em;
			font-weight: 700;
		}

		header.major .byline {
			display: block;
			padding-top: 1em;
			letter-spacing: 1px;
			font-size: 1.4em;
		}

	footer > :last-child {
		margin-bottom: 0;
	}

	footer.major {
		padding-top: 3em;
	}
	
	
/* read more */
.read-more-state {
  display: none;
  text-transform: none;
   text-align: justify;
}

.read-more-target {
  opacity: 1;
  max-height: 0.1;
  font-size: 0; 
  text-transform: none;
 text-align: justify;

}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
 text-transform:none;
 text-align: justify;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Číst více';
      text-transform: none;
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Méně';
      text-transform: none;
}

.read-more-trigger {
  cursor:crosshair;
  display: inline-block;
  padding: 0 .0em;
  color: black;
  font-size: .9em;
  line-height: 2.5;
     text-transform: none;
     background-color: #f2f2f2;
}


/* Form */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: none;
		border: solid 1px #669900;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0.75em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		textarea:focus {
			border-color: #669900;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		line-height: 1em;
	}

	::-webkit-input-placeholder {
		color: inherit;
		opacity: 0.5;
		position: relative;
		top: 3px;
	}

	:-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	::-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	:-ms-input-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	.formerize-placeholder {
		color: rgba(85, 85, 85, 0.5) !important;
	}

/* Image */

	.image {
		border: 0;
		position: relative;
	}

		.image.fit {
			display: block;
		}

			.image.fit img {
				display: block;
				width: 100%;
			}

		.image.feature {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.feature img {
				display: block;
				width: 100%;
			}
			
			
			.opylec {
			position:absolute;
			top:8000px;
			right:50px; }
			/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 1500px) {
  .opylec {
    display: none;
      position: absolute;
      }}
		.banner2{{
			width:720px;
			height: 200px;
			float: none;
			
			 }}
				width:720px;
				height:200px;
				align= "left"}
						@media screen and (max-width: 1250px) {
        .banner2 {

width: 648px;
	height:180px;
      }}		
				@media screen and (max-width: 950px) {
        .banner2 {

width: 576px;
	height:160px;
      }}
@media screen and (max-width: 850px) {
        .banner2 {

width: 576px;
	height:160px;
      }}
      
      @media screen and (max-width: 700px) {
        .banner2 {

width: 540px;
	height:150px;
      }}


@media screen and (max-width: 670px) {
        .banner2 {

width: 504px;
	height:140px;
      }}



@media screen and (max-width: 570px) {
        .banner2 {

width: 432px;
	height:120px;
      }} 
      
      
@media screen and (max-width: 470px) {
        .banner2 {

width: 360px;
	height:100px;
      }} 
      
      @media screen and (max-width: 270px) {
        .banner2 {

width: 180px;
	height:55px;
      }} 
         @media screen and (max-width: 10px) {
        .banner2 {
display: none;
      }}

/* Icon */

	.icon {
		position: fixed;
		top: 10px;
		right: 30px;
	
	}
@media screen and (max-width: 1020px) {
  .icon {
  display: none;
  }
  }


		.icon > .label {
			display: none;
		}
	.pes {
		display: none;
	}

/* Lists */

	ol.default {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.default li {
			padding-left: 0.25em;
		}

	ul.default {
		margin: 0;
		padding: 0;
		list-style: none;
	}

		ul.default li {
			padding: 0.40em 0em;
		}

	ul.icons {
		cursor: default;
		padding-bottom: 2em;
	}

		ul.icons li {
			display: inline-block;
			line-height: 1em;
			padding: 0.5em 1em;
		}

			ul.icons li:first-child {
				padding-left: 0;
			}

			ul.icons li span {
				display: none;
			}

			ul.icons li a {
				text-decoration: none;
				font-size: 2em;
				color: inherit;
				opacity: 0.2;
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
			}

			ul.icons li a:hover {
				color: inherit;
				opacity: 1;
			}

	ul.actions {
		cursor: default;
	}

		ul.actions:last-child {
			margin-bottom: 0;
		}

		ul.actions li {
			display: inline-block;
			padding: 0 0 0 1.5em;
		}

			ul.actions li:first-child {
				padding: 0;
			}

		ul.actions.vertical li {
			display: block;
			padding: 1.5em 0 0 0;
		}

			ul.actions.vertical li:first-child {
				padding: 0;
			}

	ul.special-icons {
		margin: 0em;
		padding: 0em;
	}

		ul.special-icons > li {
			position: relative;
			padding: 0.50em 0em 0.50em 0em;
		}

		ul.special-icons > li:before {
			position: absolute;
			left: 0;
			top: 2em;
			display: block;
			background: none;
			font-size: 2em;
			border-radius: 5px;
		}

		ul.special-icons > li:first-child {
			border-top: none;
		}

		ul.special-icons h3 {
			margin-bottom: 0.80em;
			line-height: 2em;
			text-transform: none;
			font-weight: 700;
			font-size: 1.2em;
		}

		ul.special-icons span {
			line-height: 190%;
		}

		ul.special-icons .fa {
			float: left;
			display: inline-block;
			padding-right: 1em;
			font-size: 1.4em;
			color: #669900;
		}

		ul.special-icons p {
			padding-left: 2.7em;
		}

/* Tables */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
		}

			table.default tbody tr {
				border-bottom: solid 1px #669900;
			}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				font-weight: 700;
				padding: 0.5em 1em 0.5em 1em;
				text-align: left;
			}

			table.default thead {
				background: #555555;
				color: #fff;
			}



/* Wrapper */

	.wrapper {
		padding: 6em 0em 4em 0em;
	}

		.wrapper.style1 {
			padding: 0em;
			background-image: url("/home/meow/Stažené/tem2/images/ked3.jpg");
			background-size: cover;
			height: 400px;
		}

		.wrapper.style2 {
			background: #f2f2f2;
		}

			.wrapper.style2 .major {
				text-align: left !important;
			}

				.wrapper.style2 .major h2 {
					display: block;
					margin-bottom: 0.70em;
					letter-spacing: 1px;
					line-height: 1.4em;
					text-transform: none;
					font-size: 1.8em;
					font-weight: 400;
				}

				.wrapper.style2 .major .byline {
					letter-spacing: normal;
					line-height: 1.6em;
					text-transform: none;
					font-size: 1.4em;
				}

			.wrapper.style2 h3 {
				display: block;
				margin-bottom: 1em;
				letter-spacing: 1px;
				line-height: 1.4em;
				text-transform: none;
				font-size: 1.6em;
				font-weight: 400;
			}

		.wrapper.style3 {
			padding-bottom: 10em;
			background: white;
			text-align:justify;
			color: black;
		}
			.wrapper.style3 .container {
				padding-left: 10em;
				padding-right: 10em;
				width: 1000px;

				}

			.wrapper.style3 p {
				font-size: 1.6em;
			}
		.wrapper.style7 {
			padding-bottom: 10em;
			background: white;
			text-align:justify;
			color: black;
		}
			.wrapper.style7 .container {
				padding-left: 10em;
				padding-right: 10em;
				width: 1000px;}
				
				
		.wrapper.style6 {
			padding-bottom: 10em;
			background: white;
			text-align:justify;
			color: black;
		}
			.wrapper.style6 .container {
				padding-left: 10em;
				padding-right: 10em;
				width: 1000px;
				}



  
		.wrapper.style4 {
			background: white;
			text-align: justify;
						color: black;
		}


		.wrapper.style5 {
			background: white;
			text-align: center;
			color: black;
		}

			.wrapper.style5 .image {
				display: block;
				width: 70%;
				margin: 0em auto 2em auto;
			}

				.wrapper.style5 .image img {
					border-radius: 50%;
					border: 10px solid;
					border-color: grey;;
				}
		
		
		


/* Header */

	#header {
		color: white;
		height: 0em;
		background: transparent;
		z-index: 2;
	}

		#header .container {
			position: fixed;
			background: transparent;
			height: 0em;
			width: 100%;
			z-index: 2;
		}
		 #header .transka2  {
			position: fixed;		
		background: black;		
	    position: absolute;
	    display: none;
			width: 100%;
						height: 0em;
		top: 0;
		right: 10em;}
		
		
		/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (min-width: 950px) {
  .header .transka2 {
			position: fixed;		
		background: black;		
	    position: absolute;
			width: 100%;
						height: 0em;
		top: 0;
		right: 10em;}
  }

		
		#header .pic {
position: fixed;

       } 

	.homepage #logo {
		display: none;
	}

	.homepage #nav {
		position: static;
		right: 30%;
		text-align: center;

	}

	#logo {
		line-height: 2em;
		letter-spacing: 2px;
		text-transform: none;
		font-size: 2em;
		font-weight: 400;
	}

		#logo h1 {
			display: inline-block;
			margin: 0;
			padding: 0;
		}

		#logo a {
			color: inherit;
		}

	#nav {
		position: absolute;
					width: 100%;
		top: 0;
		right: 0;
		background: transparent;
   	transition: .1s;
	}
	.transka #nav {
	    background: black;	
	    			width: 100%;	
	    position: absolute;
		top: 0;
		right: 0;
}

		#nav > ul {
			margin: 0;
		}

			#nav > ul > li {
				border-radius: 4px;
				display: inline-block;
				margin-left: 0.5em;
				padding: 0 0.5em;
			}

				#nav > ul > li a {
					color: inherit;
					line-height: 4em;
					letter-spacing: 2px;
					text-decoration: none;
					text-transform: none;
					font-weight: 400;
					font-size: 1em;
				}

				#nav > ul > li:first-child {
					margin-left: 0;
				}

				#nav > ul > li.active a {
					color: white;
				}

				#nav > ul > li > ul {
					display: none;
				}

/* Dropotron */

	.dropotron {
		top: 2em;
		background: rgba(32, 32, 32, 0.75);
		border-radius: 4px;
		color: inherit;
		min-width: 12em;
		padding: 1em 0;
		color: white;
	}

		.dropotron > li {
			line-height: 2em;
			padding: 0 1em;
		}

			.dropotron > li > a {
				color: inherit;
				letter-spacing: 2px;
				text-decoration: none;
				text-transform: none;
			}

			.dropotron > li.active > a, .dropotron > li:hover > a {
				color: inherit;
			}

		.dropotron.level-0 {
			border-radius: 0 0 4px 4px;
			font-size: 1em;
			margin-left: -0.5em;
		}

/* Banner */

	#banner {
		padding: 6em 0em 3em 0em;
		text-align: center;
		text-transform: none;
		color: white;
	}

		#banner .container {
			padding: 0em 8em;
		}

		#banner h2 {
			display: inline-block;
			padding: 0.50em 0.30em;
			background-color:rgba(238, 238, 238, 0.3);
			width: 350px;
			height: 500;
			font-size: 3em;
			font-weight: 400;
		}

		#banner span, #banner p {
			display: block;
			letter-spacing: 1px;
			text-transform: none;
			font-size: 1.6em;
			font-weight: 300;
		}

		#banner span {
			padding: 1em 0em;
		}

/* Main */

	#main {
		padding: 4em 0;
	}

		#main #content .major, #main #sidebar .major {
			text-align: left;
		}

		#main #sidebar section {
			margin-top: 4em;
		}

			#main #sidebar section:first-child {
				margin-top: 0;
			}

		#main #sidebar .major {
			padding-bottom: 2em;
		}

			#main #sidebar .major h2 {
				font-size: 1.8em;
			}

/* Footer */

	#footer {
		padding: 6em 0 2em 0;
		text-align: center;
		color: white;
	}

		#footer hr {
			border-bottom: 1px solid;
			border-color: inherit;
			opacity: .05;
		}

		#footer .major h2 {
			color: inherit;
		}

		#footer .major .byline {
			color: inherit;
			opacity: .4;
		}

		#footer .copyright {
			margin-top: 3em;
			text-align: center;
		}

/* Copyright */

	#copyright {
		position: relative;
		text-transform: none;
		text-align: center;
		padding: 3em 0em 3em 0em;
		color: inherit;
		opacity: .40;
	}

		#copyright a {
			text-decoration: none;
			color: inherit;
		}

/* Extra */

	#extra1 h2 {
		display: block;
		margin-bottom: 1em;
		letter-spacing: 1px;
		line-height: 1.4em;
		text-transform: none;
		font-size: 1.8em;
		font-weight: 400;
	}

	#extra1 h3 {
		display: block;
		margin-bottom: 1em;
		letter-spacing: 1px;
		line-height: 1.4em;
		text-transform: none;
		font-size: 1.6em;
		font-weight: 400;
	}

/* Team */

	#team h3 {
		margin-bottom: 0.50em;
		letter-spacing: 2px;
		text-transform: none;
		font-weight: 700;
	}
	
	
	
	
	
	/* Sidebar */
	/* The side navigation menu */
.sidebar {

  position: absolute;
  top: 700px;
  right: 10px;
  display: block;
  width: 400px
}


/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #555;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 1600px) {
  .sidebar {
  width: 300px;
    display: block;
      position: absolute;
  top: 700px;
  right: 10px;}}
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 1450px) {
  .sidebar {

    display: none;}}
    

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 950px) {
  .sidebar {
  display: none;
  }
  .sidebar a {float: right;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 800px) {
  .sidebar a {
display: none;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color: white;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 0px 0px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0px 0 0 0px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: white;
  color: black;
}




